@model OrderModel
@{
    ViewData["Title"] = "Корзина";
}

@if(Model.Items.Count == 0)
{
    <h1>Корзина пуста</h1>
}
else
{
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Название</th>
                <th scope="col">Автор</th>
                <th scope="col">Цена</th>
                <th scope="col">Количество</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count(); i++)
            {
                <form asp-controller="Order" asp-action="RemoveBook" method="post">
                <tr>
                    <td>@Model.Items[i].Title</td>
                    <td>@Model.Items[i].Author</td>
                    <td>@Model.Items[i].Price</td>
                    <td>@Model.Items[i].Count</td>
                    <td>
                        <input type="hidden" name="bookId" value="@Model.Items[i].BookId" />
                        <button type="submit" class="btn btn-outline-danger">Удалить</button>
                    </td>
                </tr>
                </form>

            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Итого</td>
                <td class="text-right">@Model.TotalCount</td>
                <td class="text-right">@Model.TotalPrice</td>
            </tr>
        </tfoot>
    </table>
}
